html,
body,
.lt-grid-container {
  height: 100%;
  margin: 0;
}


.lt-grid-container {
  color: #171d4b;
  display: grid;
  grid-template-columns: min-content 25% 50.2% 0.1% 25%;
  grid-template-rows: 0.4fr 0.3fr 2.3fr;
  gap: 1px 1px;
  grid-template-areas: '. lt-Img lt-Heading . lt-NavBar' '. lt-Information lt-Subheading . lt-connect' '. lt-Information lt-Bot . connect';
}
h1 {
  font-family: 'Dosis', sans-serif;
  font-size:6vh;
  font-size:6vw;
  font-weight: 550;
  color: #f09e56;
}


.lt-Heading {
  grid-area: lt-Heading;
  color: #FBBC58;
}

.lt-Information {
  grid-area: lt-Information;
}

.lt-NavBar {
  grid-area: lt-NavBar;
}

.topnav {
  color: #FFEFBA;
  background: #FBBC58;
  font-family: 'Dosis', sans-serif;
  float: center;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 25px;
  height: auto;
  width: auto;
  font: size 1.8;vh;
  font: size 1.8;vw;
  margin-right: 10%;
  margin-left: auto;
}
.topnav a:hover {
  background: white;
  color: #4CAF50;
  border-radius: 10px;

}
.topnav a.active {
  background: #4CAF50;
  color: white;
  text-decoration: underline;
}
a {
  color: white;
  cursor: pointer;
  text-decoration: none;
  margin-left: auto;
  padding: 2%;
  justify-self: auto;
}

.lt-Subheading {
  grid-area: lt-Subheading;
}

.lt-Bot {
  grid-area: lt-Bot;
}

.lt-connect {
  grid-area: lt-connect;
}

.lt-Img {
  grid-area: lt-Img;
}
img {
  max-width: 125%;
  height: auto;

}
body {
  text-align: center;
  background: #FFEFBA;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
